{% extends 'base.html.twig' %}

{% block title %}Edit Tea{% endblock %}

{% block body %}
    <h1>Edit Tea</h1>

    {{ include('tea/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tea.index') }}">back to list</a>

    {{ include('tea/_delete_form.html.twig') }}
{% endblock %}
