{% extends 'base.html.twig' %}

{% block title %}New Reader{% endblock %}

{% block body %}
    <h1 class="title">Create new Reader</h1>

    {{ include('reader/_form.html.twig') }}

    <a href="{{ path('reader.index') }}">back to list</a>
{% endblock %}
